.books-list-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: $title-margin-bottom;
  min-height: 100vh;
  padding-top: $title-margin-bottom;
  position: relative;
  width: 100vw;

  &__title {
    font-size: $medium-font-title-size;
    margin-bottom: $title-margin-bottom;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    text-align: center;
  }

  &__books-horizontal-list {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .books-horizontal-list {
    .single-book-element {
      align-items: center;
      background-color: $light-yellow;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-left-radius: $frame-border-radius;
      border-top-right-radius: $frame-border-radius;
      box-shadow: $base-box-shadow;
      display: flex;
      flex-direction: column;
      height: 330px;
      justify-content: flex-end;
      margin: calc(50px + 1.2rem) auto 1rem;
      padding: 1rem;
      position: relative;
      text-align: center;
      width: 240px;

      &__book-cover {
        box-shadow: $base-box-shadow;
        left: calc(50% - 80px);
        position: absolute;
        top: -50px;
        width: 160px;

        &--english-cover {
          top: -70px;
        }
      }

      &__book-price {
        font-weight: 600;
        margin: 0.5em auto 0;
      }

      &__frame-btn {
        @include gasa-small-frame-button(
          $light-yellow,
          $base-black-font,
          0.75rem,
          80%
        );

        position: relative;

        &::after {
          content: '🇵🇱';
          display: block;
          width: 20px;
          height: 20px;
          font-size: 18px;
          position: absolute;
          top: -14px;
          right: -8px;
        }

        &--amazon-btn {
          @include gasa-small-frame-button(
            $light-yellow,
            $base-black-font,
            0.85rem,
            80%
          );
        }
      }
    }
  }
}
