@mixin about-with-image-section() {
  width: 100%;
  max-width: 600px;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}

$circle-height: 380px;
$circle-width: 190px;

@mixin about-section-circle($bckg-color, $border-color) {
  content: '';
  display: block;
  width: $circle-width;
  height: $circle-height;
  background-color: $bckg-color;
  position: absolute;
  // top: 2rem;
  bottom: 0;
  box-sizing: border-box;
  z-index: -1;
  border: 20px solid $border-color;
}

@mixin about-section-title($size, $margin) {
  font-size: $size;
  text-transform: uppercase;
  margin-bottom: $margin;
  z-index: 2;
}

.author-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 135px;

  &__left-side-description {
    @include about-with-image-section();
    padding-left: $base-side-padding;
  }

  &__right-side-image {
    @include about-with-image-section();
    text-align: center;
    min-height: $circle-height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &::before {
      @include about-section-circle($base-green, $base-yellow);
      left: calc(50% - $circle-width);
      border-right: none;
      border-radius: $circle-width 0 0 $circle-width;
    }

    &::after {
      @include about-section-circle($base-yellow, $base-green);
      right: calc(50% - $circle-width);
      border-left: none;
      border-radius: 0 $circle-width $circle-width 0;
    }
  }

  .left-side-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__title {
      @include about-section-title($big-font-title-size, $title-margin-bottom);
    }

    &__subtitle {
      @include about-section-title(
        $medium-font-title-size,
        $subtitle-margin-bottom
      );
    }

    &__txt-about {
      margin-bottom: 20px;
      font-size: 1.15rem;
      margin-bottom: $subtitle-margin-bottom;

      p {
        margin-bottom: 0.5rem;
      }
    }

    &__hello {
      font-family: $handwrite-font-family;
      font-size: $large-font-title-size;
      color: $base-yellow;
      margin-bottom: $subtitle-margin-bottom;
    }

    &__btn-author {
      @include gasa-small-frame-button(
        $base-yellow,
        $base-black-font,
        1.2rem,
        200px
      );
    }

    &__social-media-links {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: $title-margin-bottom;

      li {
        list-style-type: none;
        margin-right: 4rem;
        width: 60px;
        height: 60px;
        background-color: $light-yellow;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $base-box-shadow;

        i {
          color: $base-black-font;
        }
      }
    }
  }

  .right-side-image {
    &__image {
      position: relative;
      width: 75%;
      min-width: 350px;
      height: fit-content;
      z-index: 2;
    }
  }
}
