@mixin header-section($color) {
  width: 100%;
  max-width: 600px;
  min-height: 80vh;
  background-color: $color;
  position: relative;
  overflow: hidden;
}

@mixin header-cricle($color) {
  content: '';
  display: block;
  height: 350px;
  width: 350px;
  border: 35px solid $color;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 200px);
  box-sizing: border-box;
  z-index: 1;
}

@mixin header-title($size, $margin) {
  font-size: $size;
  text-transform: uppercase;
  margin-bottom: $margin;
  z-index: 2;
}

.gasabook-header {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &__left-side-header {
    @include header-section($light-yellow);
    border-top-left-radius: $base-border-radius;
    padding-right: 80px;
    padding-left: 20px;

    &::after {
      @include header-cricle($base-yellow);
      right: -175px;
    }
  }

  &__right-side-header {
    @include header-section($base-yellow);
    border-top-right-radius: $base-border-radius;
    padding-left: 80px;
    padding-right: 20px;
    padding-bottom: calc(100px + 20px);

    &::before {
      @include header-cricle($light-yellow);
      left: -175px;
    }
  }

  .left-side-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__subtitle {
      @include header-title($medium-font-title-size, 20px);
    }

    &__title {
      @include header-title($large-font-title-size, 40px);
    }

    &__button {
      @include gasa-button(
        $base-black-font,
        $base-baige,
        $small-font-title-size,
        65%
      );
      align-self: center;
      z-index: 2;
    }
  }

  .right-side-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .books-vertical-list {
      width: 200px;
      padding-bottom: 2em;
      z-index: 2;

      .single-book-element {
        width: 160px;
        height: 220px;
        background-color: $light-yellow;
        border-top-right-radius: $frame-border-radius;
        border-top-left-radius: $frame-border-radius;
        border-bottom-right-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
        position: relative;
        margin: calc(40px + 1.2em) auto 1em;
        padding-bottom: 0.25em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        box-shadow: $base-box-shadow;

        &__book-cover {
          width: 80px;
          position: absolute;
          top: -40px;
          left: calc(80px - 40px);
          box-shadow: $base-box-shadow;

          &--polish {
            width: 120px;
            left: calc(80px - 60px);
            box-shadow: none;
          }
        }

        &__book-price {
          font-weight: 600;
          margin: 0.5em auto 0;
        }

        &__frame-btn {
          @include gasa-small-frame-button(
            $light-yellow,
            $base-black-font,
            0.75em,
            80%
          );

          &:nth-child(3) {
            font-weight: 600;
          }

          &--amazon-btn {
            @include gasa-small-frame-button(
              $light-yellow,
              $base-black-font,
              0.85em,
              80%
            );
          }
        }
      }
    }
  }

  &__bottom-side-list-header {
    width: 80%;
    max-width: 1000px;
    min-height: 100px;
    background-color: $base-green;
    position: absolute;
    bottom: -135px;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: 1200px) {
    .bottom-side-list-header {
      bottom: 0;

      &::before {
        content: '';
        background: url(../images/author-with-books.PNG) no-repeat center
          center/cover;
        position: absolute;
        top: -400px;
        left: calc(50% - 200px);
        height: 400px;
        width: 400px;
        z-index: 1;
      }
    }
  }

  .bottom-side-list-header {
    &__single-element {
      min-width: 33%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.75em 0 0.5em;
    }

    .single-element {
      &__image {
        width: 18%;
        margin-bottom: 0.75em;
      }

      &__important-word {
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 0.85em;
      }
    }
  }
}
