@mixin header-section($color) {
  background-color: $color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  min-height: 80vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

$circle-size: 450px;

@mixin header-cricle($color) {
  border-radius: 50%;
  border: 20px solid $color;
  box-sizing: border-box;
  content: '';
  display: block;
  height: $circle-size;
  position: absolute;
  top: calc(50% - 200px);
  width: $circle-size;
  z-index: 1;
}

@mixin header-title($size, $margin) {
  font-size: $size;
  margin-bottom: $margin;
  text-transform: uppercase;
  z-index: 2;
}

.gasabook-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  width: 100vw;

  &__left-side-header {
    @include header-section($light-yellow);

    align-items: flex-start;
    padding-left: $base-side-padding;
    padding-right: 80px;

    &::after {
      @include header-cricle($base-yellow);

      right: calc($circle-size / -2);
    }
  }

  &__right-side-header {
    @include header-section($base-yellow);

    align-items: center;
    padding: $base-side-padding $base-side-padding $base-side-padding 80px;

    &::before {
      @include header-cricle($light-yellow);

      left: calc($circle-size / -2);
    }
  }

  @media (min-width: 1200px) {
    .left-side-header {
      border-top-left-radius: $base-border-radius;
    }

    .right-side-header {
      border-top-right-radius: $base-border-radius;
      padding-bottom: calc(100px + $base-side-padding);
    }
  }

  .left-side-header {
    &__subtitle {
      @include header-title($medium-font-title-size, $subtitle-margin-bottom);

      &:nth-child(2) {
        @include header-title($large-font-title-size, $subtitle-margin-bottom);
        color: $base-yellow;
      }
    }

    &__title {
      @include header-title($large-font-title-size, $title-margin-bottom);
      max-width: 350px;
      width: 95%;
    }

    &__button {
      @include gasa-button(
        $base-black-font,
        $base-baige,
        $small-font-title-size,
        65%
      );

      align-self: center;
      z-index: 2;
    }
  }

  .right-side-header {
    .books-vertical-list {
      padding-bottom: 2rem;
      width: 200px;
      z-index: 2;

      .single-book-element {
        align-items: center;
        background-color: $light-yellow;
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
        border-top-left-radius: $frame-border-radius;
        border-top-right-radius: $frame-border-radius;
        box-shadow: $base-box-shadow;
        display: flex;
        flex-direction: column;
        height: 220px;
        justify-content: flex-end;
        margin: calc(40px + 1.2rem) auto 1rem;
        padding-bottom: 0.25rem;
        position: relative;
        text-align: center;
        width: 160px;

        &__book-cover {
          box-shadow: $base-box-shadow;
          left: calc(80px - 40px);
          position: absolute;
          top: -40px;
          width: 80px;

          &--polish {
            box-shadow: none;
            left: calc(80px - 60px);
            width: 120px;
          }
        }

        &__book-price {
          font-weight: 600;
          margin: 0.5em auto 0;
        }

        &__frame-btn {
          @include gasa-small-frame-button(
            $light-yellow,
            $base-black-font,
            0.75rem,
            80%
          );

          position: relative;

          &::after {
            content: '🇵🇱';
            display: block;
            width: 20px;
            height: 20px;
            font-size: 18px;
            position: absolute;
            top: -14px;
            right: -8px;
          }

          &--amazon-btn {
            @include gasa-small-frame-button(
              $light-yellow,
              $base-black-font,
              0.85rem,
              80%
            );
          }
        }
      }
    }
  }

  &__bottom-side-list-header {
    display: none;
  }

  @media (min-width: 1200px) {
    .bottom-side-list-header {
      align-items: center;
      background-color: $base-green;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      bottom: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1000px;
      min-height: 100px;
      position: absolute;
      width: 80%;

      &::before {
        background: url(../images/author-with-books.PNG) no-repeat center
          center/cover;
        content: '';
        height: 400px;
        left: calc(50% - 200px);
        position: absolute;
        top: -400px;
        width: 400px;
        z-index: 1;
      }
    }
  }

  .bottom-side-list-header {
    &__single-element {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: 200px;
      min-width: 33%;
      padding: 0.75rem 0 0.5rem;
    }

    .single-element {
      &__image {
        margin-bottom: 0.75rem;
        width: 18%;
      }

      &__important-word {
        font-size: 0.85rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
      }
    }
  }
}
